# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# logs
logs/api_payloads
logs/process_logs
myenv/pyvenv.cfg
myenv/bin/activate
myenv/bin/activate.csh
myenv/bin/activate.fish
myenv/bin/Activate.ps1
myenv/bin/dotenv
myenv/bin/faker
myenv/bin/normalizer
myenv/bin/pip
myenv/bin/pip3
myenv/bin/pip3.11
myenv/bin/pybabel
myenv/bin/python
myenv/bin/python3
myenv/bin/python3.11
setup.py
Artikel.csv
